{
    "env": {
        "production": {
            "presets": ["es2015"],
            "plugins": ["transform-runtime", "unassert"],
            "sourceMaps": false
        },
        "development": {
            "presets": ["es2015", "power-assert"],
            "plugins": ["transform-runtime"],
            "sourceMaps": "inline"
        }
    }
}
